/* Color Scheme */

	/* Accent Color */

	a:active,
	a:hover,
	a:focus {
	    color: #2d4dff;
	}

	.main-navigation .primary-menu > li > a:hover, .main-navigation .primary-menu > li > a:focus {
		color: #2d4dff;
	}
	
	.main-navigation .primary-menu .sub-menu .current_page_item > a,
	.main-navigation .primary-menu .sub-menu .current-menu-item > a {
		color: #2d4dff;
	}
	.main-navigation .primary-menu .sub-menu .current_page_item > a:hover,
	.main-navigation .primary-menu .sub-menu .current_page_item > a:focus,
	.main-navigation .primary-menu .sub-menu .current-menu-item > a:hover,
	.main-navigation .primary-menu .sub-menu .current-menu-item > a:focus {
		background-color: #fff;
		color: #2d4dff;
	}
	.dropdown-toggle:hover,
	.dropdown-toggle:focus {
		color: #2d4dff;
	}

	@media (min-width: 768px){
		.main-navigation .primary-menu > .current_page_item > a,
		.main-navigation .primary-menu > .current_page_item > a:hover,
		.main-navigation .primary-menu > .current_page_item > a:focus,
		.main-navigation .primary-menu > .current-menu-item > a,
		.main-navigation .primary-menu > .current-menu-item > a:hover,
		.main-navigation .primary-menu > .current-menu-item > a:focus,
		.main-navigation .primary-menu > .current_page_ancestor > a,
		.main-navigation .primary-menu > .current_page_ancestor > a:hover,
		.main-navigation .primary-menu > .current_page_ancestor > a:focus,
		.main-navigation .primary-menu > .current-menu-ancestor > a,
		.main-navigation .primary-menu > .current-menu-ancestor > a:hover,
		.main-navigation .primary-menu > .current-menu-ancestor > a:focus {
			border-top: 4px solid #2d4dff;
		}
		.main-navigation ul ul a:hover,
		.main-navigation ul ul a.focus {
			color: #fff;
			background-color: #2d4dff;
		}
	}

	.main-navigation .primary-menu > .open > a, .main-navigation .primary-menu > .open > a:hover, .main-navigation .primary-menu > .open > a:focus {
		color: #2d4dff;
	}

	.main-navigation .primary-menu > li > .sub-menu  li > a:hover,
	.main-navigation .primary-menu > li > .sub-menu  li > a:focus {
		color: #fff;
		background-color: #2d4dff;
	}

	@media (max-width: 767px) {
		.main-navigation .primary-menu .open .sub-menu > li > a:hover {
			color: #fff;
			background-color: #2d4dff;
		}
	}

	.sticky-post{
		color: #fff;
	    background: #2d4dff; 
	}
	
	.entry-title a:hover,
	.entry-title a:focus{
	    color: #2d4dff;
	}

	.entry-header .entry-meta::after{
	    background: #2d4dff;
	}

	.fa {
		color: #2d4dff;
	}

	.btn-default{
		border-bottom: 1px solid #2d4dff;
	}

	.btn-default:hover, .btn-default:focus{
	    border-bottom: 1px solid #2d4dff;
	    background-color: #2d4dff;
	}

	.nav-previous:hover, .nav-next:hover{
	    border: 1px solid #2d4dff;
	    background-color: #2d4dff;
	}

	.next-post a:hover,.prev-post a:hover{
	    color: #2d4dff;
	}

	.posts-navigation .next-post a:hover .fa, .posts-navigation .prev-post a:hover .fa{
	    color: #2d4dff;
	}


	#secondary .widget-title::after{
		position: absolute;
	    width: 50px;
	    display: block;
	    height: 4px;    
	    bottom: -15px;
		background-color: #2d4dff;
	    content: "";
	}

	#secondary .widget a:hover,
	#secondary .widget a:focus{
		color: #2d4dff;
	}

	#secondary .widget_calendar tbody a {
		color: #fff;
		padding: 0.2em;
	    background-color: #2d4dff;
	}

	#secondary .widget_calendar tbody a:hover{
		color: #fff;
	    padding: 0.2em;
	    background-color: #2d4dff;  
	}
